#memoryCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.flip {
   overflow:hidden;
   margin: 10px;
   background-image: url("../imgs/balance.jpg");
   background-size: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#matchInfo {
    border: 2px dotted #8cf3c0;
    background-color: rgba(140,243,192,0.1);
    border-radius: 8px;
    margin: auto;
    text-align: center;
}

.dashboard {
    display: flex;
    flex-direction: column;
}

#button {
    background-color: rgba(140,243,192,0.7);
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    margin-left: 25px;
}

/*media queries - cards display*/
/* mobile - portrait */
@media only screen and (max-width : 320px) {
    #memoryCards {
        width: 100px;
    }

    .flip {
        width:80px;
        height: 80px;
    }
}

/* mobile - landscape */
@media only screen and (min-width : 321px) {
    #memoryCards {
        width: 300px;
    }

    .flip {
        width:100px;
        height: 100px;
    }
}

/* tablet (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #memoryCards {
        width: 500px;
    }

    .flip {
        width:120px;
        height: 120px;
    }
}

/* computer and laptop */
@media only screen  and (min-width : 1025px) {
    #memoryCards {
        width: 700px;
    }

    .flip {
        width:150px;
        height: 150px;
        }
}

/*media queries - game information display*/
/* mobile */
@media only screen and (max-width : 767px) {
    #matchInfo {
        font-size: 15px;
        width: 250px;
        height: 25px;
    }

    .gameDisplay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
        width: 300px;
    }

    .attempts {
        margin: 10px;
    }
}

/* tablet and computer */
@media only screen and (min-width: 768px) {
    #matchInfo {
        font-size: 20px;
        width: 300px;
        height: 35px;
    }

    .gameDisplay {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        width: 700px;
    }

    .gameInformation {
        width: 70%;
    }

    .dashboard {
        margin-left: 30px;
        align-self: flex-end;
    }

    .attempts {
        margin-bottom: 10px;
    }
    
    .totalAttempts {
        margin-left: 54px;
    }
    
}